.order{
    width: 100%;
    height: 100vh;

    

    position: sticky;
    top: 0;
}


.orderedMeals{

    width: 100%;
    height: 413px;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.totalSum{

    width: 100%;
    height: 100px;
    margin-left: 8px;
}

.inDecrease {

    display: contents;
    cursor: pointer;
  
  
  }
  
  .inDecrease img{
  
    width: 32px;
    height: 32px;
  
  
  }
  
  .deleteBTN {
  
    display: contents;
    cursor: pointer;
  
  
  }
  
  .deleteBTN img{
  
    width: 32px;
    height: 32px;
  
  
  }

  .cart-container {
    min-height: calc(100vh - 200px);
    width: 300px;
    
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.5);

    border-radius: 6px;
  }

  .overlay{

    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
  bottom: 0;
    height: 100%;
    width: 100%;
    background-color: white;
     z-index: 2;

    /* position: sticky;
    top: 0; */  
}


.orderBTNContainer{

  display: flex;
    justify-content: center;
    align-items: center;
}

.orderBTN{

  background-color: rgb(255, 165, 0);
  color: white;
  height: 36px;
  border-radius: 12px;
  width: 95%;

  display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}


.orderConfirmationContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
    gap: 8px;

}

.orderConfirmation{

  font-size: 24px;
}


.confirmationSmiley img{

  width: 64px;
  height: 64px;

}

  @media(max-width: 800px){

    .cart-container {

        display: none;
    }

    .content-wrapper {

        justify-content: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .responsiveBtn{
        display: flex;
        cursor: pointer;

        position: fixed;
        bottom: 0;
      }
      
    
    
  }